@import "fonts.css";

a {text-decoration: underline;}
a:hover {text-decoration: none;}
a, a:hover, a:focus {outline: none;}

textarea {resize: none;}

._float_left {float: left;}
._float_right {float: right;}

.pc-mobile-menu {line-height: 78px; color: #8d97a0; cursor: pointer; display: none;}

.pc-font-size-16 {font-size: 16px;}

.pc-wrapper {background-color: #f1f5f7;}

.pc-flex-container {display: flex;}
.pc-logo {order: 1;}
.pc-header-nav {order: 2; margin-right: auto;}
.pc-user-container {order: 3; margin-left: auto}
.pc-languages-container {order: 4;}

.pc-nav {height: 82px; line-height: 78px; border-bottom: 4px solid #8d97a0;}

.pc-logo {margin-right: 35px; line-height: 75px;}

.pc-header-nav ul {list-style: none; padding: 0; margin: 0;}
.pc-header-nav ul li {float: left; margin: 0 12px;}
.pc-header-nav ul li a {color: #48494a; text-decoration: none; font-size: 16px;}
.pc-header-nav ul li.active a {color: #e54404;}
.pc-header-nav ul li a:hover {color: #e54404; text-decoration: underline;}

.pc-languages {border-radius: 8px 8px 8px 8px; padding: 3px 10px; line-height: normal; margin-top: 25px}
.pc-languages.pc-open {background-color: #ffffff;}
.pc-languages a {display: none; color: #8a8b8b; text-decoration: none; margin: 6px 0;}
.pc-languages.pc-open a {display: block;}
.pc-languages a:hover {color: #e54404; text-decoration: underline;}
.pc-languages a:first-child {color: #48494a; text-decoration: none; display: block;}
.pc-languages a:first-child:after {content: ""; width: 0; height: 0; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 6px solid #48494a; display: inline-block; margin-left: 3px;}
.pc-languages.pc-open a:first-child:after {border-top: 0; border-bottom: 6px solid #48494a;}

.pc-user-container ul {list-style: none; padding: 0; margin: 0;}
.pc-user-container ul li {float: left; padding: 0 6px;}
.pc-user-container ul li span.pc-separator {border-left: 1px solid #808284; border-right: 1px solid #6a6b6d; height: 16px; width: 0;}
.pc-user-container ul li a {color: #48494a; text-decoration: none; font-size: 16px;}
.pc-user-container ul li a:hover {color: #e54404;}

.pc-languages-container {margin-left: 20px; font-size: 11px;}

.pc-title {font-family: 'Proxima-Nova-Condensed-Regular'; font-size: 45px;}

.pc-form-group .form-control {border-width: 3px; padding: 6px 18px;}

.pc-btn {font-family: 'Proxima-Nova-Condensed-Regular'; font-size: 27px; height: 46px; padding: 4px 12px; text-decoration: none;}
/*.pc-btn-enter {width: 202px;}*/

/*.pc-container {padding-bottom: 70px;}*/
.pc-text-info-container {margin: 20px 0 50px 0;}

.pc-text-contacts span {display: inline-block; margin-right: 10px;}

.pc-slide-container {background: url(../images/pc-slide-bg-1920.jpg) no-repeat center center; width: 100%; height: 401px;}

.pc-slide-flex-container {display: flex; flex-direction: column;}

.pc-slide-container .pc-title {margin-top: 45px; margin-bottom: 30px;}
.pc-slide-container .pc-row {margin-left: 0; margin-top: 60px;}

.pc-row {margin-bottom: 30px; margin-top: 30px;}

.pc-our-service-successfully-used-container {background-color: #f1f5f7;}

.pc-payment-services-container,
.pc-additional-services-container {background-color: #ffffff;}

.pc-service-info-container ul {list-style: none; margin: 0; padding: 0; display: flex; flex-flow: row wrap; justify-content: space-around;}
.pc-service-info-container ul li {width: 219px;}
.pc-info-icon {width: 143px; height: 143px; border-radius: 50%; background: #ffffff; box-shadow: 4px 4px 0 #8d97a0; margin: 0 auto 10px auto; display: flex; align-items: center; justify-content: center;}

.pc-hide-button {display: none;}

.pc-image-taxi-service {width: 100px; height: 37px;}
.pc-image-trademarks {width: 81px; height: 80px;}
.pc-image-online-shops {width: 63px; height: 91px;}
.pc-image-corporate-solutions {width: 110px; height: 73px;}

.pc-payment-packages {}
.pc-payment-packages ul {list-style: none; margin: 0; padding: 0; display: flex; flex-flow: row wrap; justify-content: space-around;}
.pc-payment-packages ul li {text-align: center;}

.pc-package-icon {height: 118px; line-height: 96px;}

.pc-package-base {width: 86px; height: 61px;}
.pc-package-optimal {width: 113px; height: 67px;}
.pc-package-premium {width: 98px; height: 118px;}

.row .pc-form-login {margin-top: 10px;}
.pc-form-login {margin-top: 23px;}

.pc-callback-container {margin-top: 31px; width: 272px;}
.pc-callback-container .pc-form-group.input-group .form-control {border-width: 5px; border-color: #c7ccd0; border-right: 0;}
.pc-callback-container .pc-form-group > .input-group-btn:last-child > .btn,
.pc-callback-container .pc-form-group > .input-group-btn:last-child > .btn-group {margin-left: 0; height: 48px; border-radius: 0; border-width: 5px; border-color: #c7ccd0; border-left: 0;}
.pc-callback-container .pc-form-group > .input-group-btn:last-child > .btn .fa {margin: -1px -4px 0 0; color: #9da6ae;}
.pc-callback-container .pc-form-group.input-group .btn-default:hover,
.pc-callback-container .pc-form-group.input-group .btn-default:focus,
.pc-callback-container .pc-form-group.input-group .btn-default.focus,
.pc-callback-container .pc-form-group.input-group .btn-default:active,
.pc-callback-container .pc-form-group.input-group .btn-default.active {background-color: #ffffff; border-left: 0;}
.pc-callback-container .pc-form-group.input-group .btn-default:hover .fa,
.pc-callback-container .pc-form-group.input-group .btn-default:focus .fa,
.pc-callback-container .pc-form-group.input-group .btn-default.focus .fa,
.pc-callback-container .pc-form-group.input-group .btn-default:active .fa,
.pc-callback-container .pc-form-group.input-group .btn-default.active .fa {color: #e54404;}

.pc-footer {background-color: #9da6ae; height: 104px; color: #ffffff;}
.pc-logo-footer {line-height: 103px; width: 290px;}
.pc-contact-footer-info {margin: 37px 0 0 20px; line-height: normal;}
.pc-contact-footer-info.pc-social-footer {margin: 25px 0 0 20px;}
.pc-contact-footer-info p {margin: 0; padding: 0;}
.pc-footer .pc-social {color: #ffffff;}
.pc-footer .pc-social .fa-inverse {color: #9da6ae;}
.pc-footer .pc-social .fa-stack-2x {font-size: 26px;}
.pc-footer .pc-social .fa-stack-1x {font-size: 18px;}
.pc-footer .pc-social:hover {color: #e54404;}
.pc-social.fa-stack {height: 26px; width: 26px; line-height: 26px;}

.pc-footer-flex {display: flex;}
.pc-footer-row {width: 100%; display: flex;}
.pc-contact-footer-info.pc-social-footer {margin-right: auto;}
.pc-callback-container {margin-left: auto;}

.pc-footer-nav-flex {display: flex;}
.pc-copyright {margin-left: auto;}
.pc-footer-nav {margin-right: auto;}

.pc-copyright {color: #babfc3; font-size: 10px; margin-top: 18px;}

.pc-footer-nav ul {list-style: none; padding: 0; margin: 0;}
.pc-footer-nav a {color: #ffffff; text-decoration: none;}
.pc-footer-nav a:hover,
.pc-footer-nav li.active a {text-decoration: underline;}
.pc-footer-nav > ul > li {float: left; padding: 12px 0 6px 0;}
.pc-footer-nav > ul > li > a {font-size: 16px; margin: 0 20px;}
.pc-footer-nav > ul > li > ul > li {margin: 0 20px; line-height: 24px;}

.pc-footer-nav__line {width: 100%; height: 0; border-bottom: 1px solid #9da6ae; margin-top: 6px; margin-bottom: 7px;}