@media (max-width: 995px) {
	.pc-logo {order: 1; margin-right: auto;}
	.pc-user-container {order: 2; margin-left: auto; margin-right: auto;}
	.pc-header-nav {order: 3; margin-left: auto; margin-right: 0;}

	.pc-header-nav ul {display: none;}
	.pc-mobile-menu {display: inline-block;}
	.pc-languages-container {display: none;}

	.pc-slide-container .pc-font-size-16 {font-size: 16px;}
	.pc-font-size-16 {font-size: 20px;}
	.pc-service-info-container ul li {width: 340px; height: 340px; text-align: center; font-size: 20px;}

	.pc-copyright {margin: 0 auto 0 0; height: 35px; line-height: 35px;}
	.pc-footer-nav {display: none;}

	.pc-footer-flex {flex-wrap: wrap;}

	.pc-footer {height: 223px;}
	.pc-logo-footer {margin-left: auto; margin-right: auto; text-align: center;}

	.pc-slide-container {background-image: url(../images/pc-slide-bg-995.jpg);}

	.pc-title {text-align: center;}

	.pc-slide-flex-container {align-items: center;}
	.pc-slide-flex-container .pc-title {margin-left: auto; margin-right: auto; width: 100%;}
	.pc-slide-flex-container .pc-text-slide {margin-left: auto; margin-right: auto; float: none; width: 60%;}
	.pc-slide-flex-container .pc-row,
	.pc-row {width: 50%; margin-left: auto; margin-right: auto;}
	.pc-row .btn {width: 100%; height: 69px; line-height: 60px; font-size: 50px; margin-left: 0;}
	/*.pc-btn {width: 50%; height: 69px; line-height: 60px; font-size: 50px; margin-left: auto; margin-right: auto; text-align: center;}*/
	.pc-additional-services-container .pc-row.row {width: 60%;}
}

@media (max-width: 768px) {
	.pc-footer-flex {align-content: space-around; align-items: baseline;}

	.pc-footer {height: 321px;}
	.pc-footer-row {flex-wrap: wrap; align-content: space-around; align-items: baseline;}
	.pc-contact-footer-info.pc-social-footer {margin-left: auto;}
	.pc-callback-container {margin-right: auto;}

	.pc-slide-container {background-image: url(../images/pc-slide-bg-768.jpg);}

	.pc-slide-flex-container .pc-title {text-align: center; margin-top: 20px;}
	.pc-slide-flex-container .pc-text-slide {width: 100%;}
	.pc-slide-flex-container .pc-row {margin-top: 25px;}
	.pc-slide-flex-container .pc-row,
	.pc-row {width: 100%;}

	.pc-row-package {width: 100%; margin-left: auto; margin-right: auto;}
	.pc-row-package .btn {width: 100%; height: 69px; line-height: 60px; font-size: 50px; margin-left: 0;}

	.pc-service-info-container ul li {width: 100%; height: 364px;}
	.pc-info-icon {width: 212px; height: 212px; box-shadow: 7px 7px 0 #8d97a0;}

	.pc-image-taxi-service {width: 148px; height: 55px;}
	.pc-image-trademarks {width: 120px; height: 118px;}
	.pc-image-online-shops {width: 93px; height: 135px;}
	.pc-image-corporate-solutions {width: 163px; height: 108px;}

	.pc-service-info-container ul li.pc-hide-button {display: block; height: 136px;}
	.pc-our-service-successfully-used-container .pc-btn {margin-bottom: 67px;}

	.pc-payment-packages ul li {margin-bottom: 60px;}
	.pc-payment-packages ul li .text-info {font-size: 35px;}
	.pc-payment-packages ul li p {font-size: 20px;}
	.pc-package-icon {height: 298px; line-height: 256px;}

	.pc-package-base {width: 217px; height: 154px;}
	.pc-package-optimal {width: 285px; height: 169px;}
	.pc-package-premium {width: 247px; height: 298px;}

	.pc-additional-services ul li {text-align: center;}

	.pc-additional-services-container .pc-row.row {width: 100%;}

	.pc-additional-services ul li {width: 320px; font-size: 20px; margin-bottom: 40px;}
	.pc-services-icon {text-align: center; height: 232px;}
	.pc-additional-services-web-interface {width: 281px; height: 207px;}
	.pc-additional-services-alfa-name {width: 233px; height: 232px;}
	.pc-additional-services-api {width: 279px; height: 221px;}
	.pc-show-all-recall-top {display: none;}
	.pc-show-all-recall-bottom {display: block; font-size: 20px; margin-bottom: 10px;}

	.pc-testimonials-container .pc-row {display: none;}

	.pc-partner-logo {width: 100%;}
}

@media (max-width: 480px) {
	.pc-row-package .btn,
	.pc-row .btn {font-size: 35px; height: 50px; line-height: 44px;}
	.pc-title {font-size: 40px;}
}