@media (max-width: 995px) {
	.pc-content-container {margin-top: 82px;}

	.pc_overflow_hidden {overflow: hidden;}

	.pc-background-menu.pc-hide {z-index: -1;}
	.pc-background-menu {background-color: rgba(0, 0, 0, 0.65); position: fixed; top: 0; left: 0; width: 100%; height: 100%; opacity: 1; z-index: 997;}

	.pc-logo {order: 1; -webkit-order: 1; margin-right: auto;}
	.pc-user-container {order: 2; -webkit-order: 2; margin-left: auto; margin-right: auto;}
	.pc-header-nav {order: 3; -webkit-order: 3; margin-left: auto; margin-right: 0;}

	.pc-mobile-menu {display: inline-block;}
	.pc-languages-container {display: none;}

	.pc-nav {position: absolute; top: 0; left: 0; right: 0; z-index: 998;}

	.pc-header-nav .pc-mobile-scroll {max-width: 0; overflow: hidden; transition: max-width 0.7s ease-out; background-color: #dddddd; position: absolute; top: 82px; right: 0; z-index: 999; width: 60%;}
	.pc-header-nav.pc-show-nav .pc-mobile-scroll {max-width: 1000px; transition: max-width 0.7s ease-in;}
	.pc-header-nav .pc-mobile-scroll > ul {width: 100%;}
	.pc-header-nav .pc-mobile-scroll > ul > li {float: none; margin: 0; border-bottom: 1px solid #cccbcb; padding: 0 30px 0 17px;}
	.pc-header-nav .pc-mobile-scroll > ul > li a {word-break: keep-all; white-space: nowrap; display: block; margin: 0; padding: 0; font-size: 26px; line-height: 64px; color: #48494a;}

	.pc-header-nav .pc-mobile-scroll > ul > li:hover > ul,
	.pc-header-nav .pc-mobile-scroll > ul > li > ul {list-style: none; background-color: #dddddd; margin: 0; padding: 0; position: static; border: 0; overflow: auto; transition: none; max-height: none;}
	.pc-header-nav .pc-mobile-scroll > ul > li > ul > li a {line-height: 36px; font-size: 18px; color: #03afd8;}

	/*.android .pc-mobile-scroll,*/
	/*.ios .pc-mobile-scroll {overflow-y: scroll; -webkit-overflow-scrolling: touch;}*/

	.pc-slide-container .pc-font-size-16 {font-size: 16px;}
	.pc-font-size-16 {font-size: 20px;}
	.pc-service-info-container ul li {width: 340px; height: 340px; text-align: center; font-size: 20px;}

	.pc-copyright {margin: 0 auto 0 0; height: 35px; line-height: 35px;}
	.pc-footer-nav {display: none;}

	.pc-footer-flex {flex-wrap: wrap; -webkit-flex-wrap: wrap;}

	.pc-footer {height: 223px;}
	.pc-logo-footer {margin-left: auto; margin-right: auto; text-align: center;}

	.pc-slide-container {background-image: url(../images/pc-slide-bg-995.jpg); margin-top: 82px;}

	.pc-title {text-align: center;}

	.pc-slide-flex-container {align-items: center; -webkit-align-items: center;}
	.pc-slide-flex-container .pc-title {margin-left: auto; margin-right: auto; width: 100%;}
	.pc-slide-flex-container .pc-text-slide {margin-left: auto; margin-right: auto; float: none; width: 60%;}
	.pc-slide-flex-container .pc-row,
	.pc-row {width: 50%; margin-left: auto; margin-right: auto;}
	.pc-row .btn {width: 100%; height: 69px; line-height: 60px; font-size: 50px; margin-left: 0;}
	/*.pc-btn {width: 50%; height: 69px; line-height: 60px; font-size: 50px; margin-left: auto; margin-right: auto; text-align: center;}*/
	.pc-additional-services-container .pc-row.row {width: 60%;}
}

@media (max-width: 768px) {
	.pc-footer-flex {align-content: space-around; align-items: baseline; -webkit-align-content: space-around; -webkit-align-items: baseline;}

	.pc-footer {height: 321px;}
	.pc-footer-row {flex-wrap: wrap; align-content: space-around; align-items: baseline; -webkit-flex-wrap: wrap; -webkit-align-content: space-around; -webkit-align-items: baseline;}
	.pc-contact-footer-info.pc-social-footer {margin-left: auto;}
	.pc-callback-container {margin-right: auto;}

	.pc-slide-container {background-image: url(../images/pc-slide-bg-768.jpg);}

	.pc-slide-flex-container .pc-title {text-align: center; margin-top: 20px;}
	.pc-slide-flex-container .pc-text-slide {width: 100%;}
	.pc-slide-flex-container .pc-row {margin-top: 25px;}
	.pc-slide-flex-container .pc-row,
	.pc-row {width: 100%;}

	.pc-row-package {width: 100%; margin-left: auto; margin-right: auto;}
	.pc-row-package .btn {width: 100%; height: 69px; line-height: 60px; font-size: 50px; margin-left: 0;}

	.pc-service-info-container ul li {width: 100%; height: 364px;}
	.pc-info-icon {width: 212px; height: 212px; box-shadow: 7px 7px 0 #8d97a0;}

	.pc-info-icon img {width: 163px; height: 163px;}

	.pc-service-info-container ul li.pc-hide-button {display: block; height: 136px;}
	.pc-our-service-successfully-used-container .pc-btn {margin-bottom: 67px;}

	.pc-payment-packages ul li {margin-bottom: 60px;}
	.pc-payment-packages ul li .text-info {font-size: 35px;}
	.pc-payment-packages ul li p {font-size: 20px;}
	.pc-package-icon {height: 298px; line-height: 256px;}

	.pc-package-icon img {width: 298px; height: 298px;}

	.pc-additional-services ul li {text-align: center;}

	.pc-additional-services-container .pc-row.row {width: 100%;}

	.pc-additional-services ul li {width: 320px; font-size: 20px; margin-bottom: 40px;}
	.pc-services-icon {text-align: center; height: 281px;}
	.pc-services-icon img {width: 281px; height: 281px;}

	.pc-show-all-recall-top {display: none;}
	.pc-show-all-recall-bottom {display: block; font-size: 20px; margin-bottom: 10px;}

	.pc-testimonials-container .pc-row {display: none;}

	.pc-partner-logo {width: 100%;}
	.pc-slide-flex-container {display: flex; flex-flow: row wrap; justify-content: space-around; display: -webkit-flex; -webkit-flex-flow: row wrap; -webkit-justify-content: space-around;}

	.pc-photo-recall {float: none;}
	.pc-photo-recall {border-width: 27px; width: 202px; height: 202px; float: none; margin: 30px auto 10px auto;}
	.pc-photo-recall img {width: 152px; height: 152px;}
	.pc-text-recall {float: none; width: 100%;}
	.pc-admin-menu-container {display: none;}
	#pc-queue-payments-table_wrapper .dataTables_scrollFootInner,
	#pc-queue-payments-table_wrapper .dataTables_scrollHeadInner,
	#pc-queue-payments-table_wrapper .table {width: 700px !important;}
	.pc-short-admin-menu .pc-admin-content {width: 100%;}
	.pc-admin-content {width: 100%;}
	.pc-export-in-csv {padding-bottom: 8px; text-align: right !important;}
}

@media (max-width: 480px) {
	.container {width: 100%;}
	.pc-user-nav {display: block;}
	.pc-user-container {display: none}
	.pc-row-package .btn,
	.pc-row .btn {font-size: 30px; height: 50px; line-height: 44px;}
	.pc-title {font-size: 40px;}
	.pc-export-in-csv {padding-bottom: 8px; text-align: left !important;}

}